* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: 000;
}



body{
    font-family: Arial;
    background: #efefef;
    color: #000;
    
}

h1  {
    color:#000000;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top:10px;
    color: #000;
    
}

h2  {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    color: #000;
}

img.resize {
  max-width:5%;
  max-height:5%;
    margin-bottom: 10px;
    border-radius: 50%;
    float:left;
    }


.første-artikkel {
    font-size: 18px;
    margin-bottom:20px;
    float:left; 
    margin-top: 5%;
  
}

.Bot-text {
    font-size: 80%;
    width: 100%;
    margin-top: 3%;
    float:left;
    text-align: center;
}

.Forfatter{
    font-size: 15px;
    margin-bottom:10px;
    margin-right: 10px;
    
}

.container {
    
    margin-left: auto;
    margin-right: auto;
    background:#fff;
    height: 1820px;
    width: 950px;
    padding-right: 10px;
    padding-left: 10px;
}


.andre-artikkelen {
   font-size: 18px;
    float:left;
    margin-bottom: 30px;
    margin-top:30px;
}

.ingress{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;

}

.tredje-artikkelen {
    font-size: 18px;
    float: left;
}

.bylinetekst {
    float: left;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
    
}
img.resize2 {
    max-height: 20%;
    max-width: 20%;
    margin-bottom: 10px;
    margin-top: 1%;
    float:left;
    margin-right:750px;
}
.bildetekst2 {
    font-size:15px;
    margin-bottom: 10px;
    float: left;
    margin-top: 10px;
}

.sidefakta {
    float: right;
    margin-right: 140px;
    margin-top: 105px;
    width: 280px;
    margin-left:20px;  
    text-align: center;

   
}

.prikker {
    margin-top: 10px;
    line-height: 40px;
}


.bilde-av-ulsteinvik {
    max-height: 20%;
    max-width: 30%;
    float:left;
    margin-top: 10px;
    margin-right:440px;
}

.hyperlinkvik {
    float:left;
}


.resize3 {
    width:45%;
    height:50%; 
    float:left;
    margin-right: 500px;
    
}

.bildetekst3 {
    font-size:15px;
    margin-bottom: 10px;
    float:left;
    margin-top: 10px;
}

.bildetekst1{
    font-size:15px;
    float: left;
    margin-top: 10px;
    margin-right:800px;
    margin-bottom:15px;
}

.navigation ul{
    font: bold 25px "arial";
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    background: #395870;
    background: linear-gradient(#49708f,#293f50);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
}

.navigation a:hover{
    background: #314B60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
    
}

.navigation li:first-child a {
    border-radius: 4px 0 0 4px;
    
}
.navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
    
}



.midt-seksjon {
    background:#fff;
    height: 1820px;
    width: 950px;
    padding-right: 10px;
    padding-left: 10px;
}


.bildeboks {
    display:inline-block;
    border: 1px solid black;
    }
